:root {
    --main-fg-color: green;
    --main-bg-color: white;
}

html{
    background: var(--main-bg-color);
    font-size: .6cm;
}

#reader{
    white-space: pre;
}

.reader.current{
    font-weight: bold;
}
